body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00d6aa;
    margin: 0;
}

.stopWach-box {
    background-color: #faf3dd;
    border-radius: 100px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 40px 20px 40px;
    text-align: center;
    width: 400px;
    min-height: 400px;
    overflow: hidden;
}

h1 {
    color: #333333;
    margin-top: 0;
}

.display {
    font-size: 3rem;
    color: #333333;
    margin: 20px 0;
    font-family: 'Courier New', Courier, monospace;
}

.controls {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
}

button {
    background-color: #b8f2e6;
    color: #000000;
    border: none;
    padding: 10px 12px;
    max-width: 90px;
    margin: 0 5px;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#startBtn:hover {
    background-color: #96ecdb;
}

#pauseBtn {
    background-color: #ffa69e;

    &:hover {
        background-color: #e6978f;
    }
} 

#Resetbtn {
    background-color: #9a9a9a;

    &:hover {
        background-color: #db0505;
    }
}

#lap {
    background-color: #aed9e0;

    &:hover {
        background-color: #9ec5cb;
    }
}

.laps {
    margin-top: 20px;
    max-height: 140px;
    overflow-y: auto;
}

.laps h2 {
    margin-bottom: 10px;
    color: #333333;
}

#laplist {
    list-style-type: none;
    max-height: fit-content;
    padding: 0;
}

#laplist li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
}

#laplist li:last-child(odd) {
    background-color: #f9f9f9;
}

#lapReset {
    background-color: #000000;
    margin: 20px 0 0 0;
    justify-self: center;
    color: #ffffff;
    max-width: 130px;

    &:hover {
    color: #ff0000;
    }
}